{{head}}
<body class="min-h-screen bg-gray-50">
    <div id="app" class="flex flex-col min-h-screen overflow-x-hidden">
        {{#if navigation}}{{navigation}}{{/if}}
        <main class="flex-grow max-w-3xl mx-auto w-full px-4 sm:px-6 lg:px-8 py-8">
          <article class="prose prose-lg max-w-none">
            {{blog-header}}
            <div class="post-content">
              {{content}}
            </div>
          </article>
        </main>
        {{#if label-footer}}{{label-footer}}{{/if}}
    </div>
    {{foot-scripts}}
</body>
</html>
